<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>

    <div class="modal fade" id="modal-adicionar" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title fs-5">Adicionar Contato</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div class="container-fluid mt-3">
                        <div class="row">
                            <div class="col-12 col-lg-6 mb-3">
                                <div class="d-flex align-items-center">
                                    <i class="bi-person-circle fs-3 pe-3"></i>
                                    <div class="form-floating flex-grow-1">
                                        <input type="text" class="form-control" id="nome-contato" placeholder="Nome">
                                        <label for="nome-contato">Nome</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 mb-3">
                                <div class="d-flex align-items-center">
                                    <i class="bi-envelope-at fs-3 pe-3"></i>
                                    <div class="form-floating flex-grow-1">
                                        <input type="email" class="form-control" id="email-contato" placeholder="E-mail">
                                        <label for="email-contato">E-mail</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-6 mb-3">
                                <div class="d-flex align-items-center">
                                    <i class="bi-telephone fs-3 pe-3"></i>
                                    <div class="form-floating flex-grow-1">
                                        <input type="tel" class="form-control" id="tel-contato" placeholder="Telefone">
                                        <label for="tel-contato">Telefone</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6 mb-3">
                                <div class="d-flex align-items-center">
                                    <i class="bi-bookmark fs-3 pe-3"></i>
                                    <div class="form-floating flex-grow-1">
                                        <select class="form-select" id="tipo-contato">
                                            <option selected>Selecionar</option>
                                            <option value="1">Trabalho</option>
                                            <option value="2">Família</option>
                                            <option value="3">Amigo</option>
                                            <option value="3">Sem Tipo</option>
                                          </select>
                                        <label for="tipo-contato">Tipo</label>
                                    </div>
                                </div>     
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Salvar Contato</button>
                </div>

            </div>
        </div>
      </div>
    
    <header class="sticky-top">
        <nav class="navbar navbar-expand-md bg-danger" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand fs-3" href="#"><i class="bi-infinity"></i> Infinity Contatos</a>
        
                <button class="navbar-toggler border-white border-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <i class="bi-list fs-1 text-white"></i>
                </button>
        
                <div class="collapse navbar-collapse fs-5 justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{url_for('mostrar_contatos')}}">Contatos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sobre</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container-fluid">
            <div class="row mt-4 text-nowrap">
                <div class="col mb-3 d-flex justify-content-center">
                    <h1 class="fs-3 m-0">Meus Contatos</h1>
                </div>
                <div class="col mb-3 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary btn-lg fs-5" data-bs-toggle="modal" data-bs-target="#modal-adicionar"><i class="bi-plus-lg"></i> Adicionar Contato</button>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col table-responsive px-3">
                    <table class="table table-striped text-nowrap fs-5">
                        <thead>
                            <tr class="table-danger">
                                <th>Nome</th>
                                <th>E-mail</th>
                                <th>Telefone</th>
                                <th>Tipo</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for contato in contatos %} 
                            <tr>
                                <td>{{contato.nome}}</td>
                                <td>{{contato.email}}</td>
                                <td>{{contato.telefone}}</td>
                                <td>
                                    <a href="{{url_for('mostrar_contatos', tipo=contato.tipo)}}">
                                        <span class="badge rounded-pill bg-secondary p-2"> 
                                            {% if contato.tipo == "Sem Tipo" %}
                                            <i class="bi-record-circle-fill"></i> Sem Tipo
                                            {% elif contato.tipo == "Trabalho" %}
                                            <i class="bi-briefcase-fill"></i> Trabalho
                                            {% elif contato.tipo == "Família" %}
                                            <i class="bi-house-fill"></i> Família
                                            {% elif contato.tipo == "Amigo" %}
                                            <i class="bi-person-raised-hand"></i> Amigo
                                            {% else %}
                                            <i class="bi-question-circle-fill"></i> {{contato.tipo}}
                                            {% endif %}
                                        </span>
                                    </a>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-secondary btn-sm fs-6 fw-bold"><i class="bi-pencil-square"></i> Editar</button>
                                    <button type="button" class="btn btn-danger btn-sm fs-6 fw-bold"><i class="bi-x-lg"></i> Remover</button>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="5">
                                    <div class="d-flex justify-content-center">
                                        <p class="m-0 p-2">Nenhum contato encontrado</p>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>