<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>

    <div class="modal fade" id="modal-adicionar" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <h1 class="modal-title fs-5">Adicionar Contato</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <form action="{{url_for('salvar_contato')}}" method="post">
                
                    <div class="modal-body">
                        <div class="container-fluid mt-3">
                            <div class="row">
                                <div class="col-12 col-lg-6 mb-3">
                                    <div class="d-flex align-items-center">
                                        <i class="bi-person-circle fs-3 pe-3"></i>
                                        <div class="form-floating flex-grow-1">
                                            <input type="text" class="form-control" id="nome-contato" placeholder="Nome" name="nome" required>
                                            <label for="nome-contato">Nome</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 mb-3">
                                    <div class="d-flex align-items-center">
                                        <i class="bi-envelope-at fs-3 pe-3"></i>
                                        <div class="form-floating flex-grow-1">
                                            <input type="email" class="form-control" id="email-contato" placeholder="E-mail" name="email" required>
                                            <label for="email-contato">E-mail</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-6 mb-3">
                                    <div class="d-flex align-items-center">
                                        <i class="bi-telephone fs-3 pe-3"></i>
                                        <div class="form-floating flex-grow-1">
                                            <input type="tel" class="form-control" id="tel-contato" placeholder="Telefone" name="telefone" required>
                                            <label for="tel-contato">Telefone</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 mb-3">
                                    <div class="d-flex align-items-center">
                                        <i class="bi-bookmark fs-3 pe-3"></i>
                                        <div class="form-floating flex-grow-1">
                                            <select class="form-select" id="tipo-contato" name="tipo" required>
                                                <option value="" selected>Selecionar</option>
                                                <option value="Trabalho">Trabalho</option>
                                                <option value="Família">Família</option>
                                                <option value="Amigo">Amigo</option>
                                                <option value="Sem Tipo">Sem Tipo</option>
                                            </select>
                                            <label for="tipo-contato">Tipo</label>
                                        </div>
                                    </div>     
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="reset" class="btn btn-secondary">Limpar</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Salvar Contato</button>
                    </div>

                </form>

            </div>
        </div>
      </div>
    
    <header class="sticky-top">
        <nav class="navbar navbar-expand-md bg-danger" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand fs-3" href="#"><i class="bi-infinity"></i> Infinity Contatos</a>
        
                <button class="navbar-toggler border-white border-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <i class="bi-list fs-1 text-white"></i>
                </button>
        
                <div class="collapse navbar-collapse fs-5 justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{url_for('mostrar_contatos')}}">Contatos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sobre</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container-fluid">
            <div class="row mt-4 text-nowrap">
                <div class="col mb-3 d-flex justify-content-center">
                    <h1 class="fs-3 m-0">Meus Contatos</h1>
                </div>
                <div class="col mb-3 d-flex justify-content-center">
                    <button type="button" class="btn btn-primary btn-lg fs-5" data-bs-toggle="modal" data-bs-target="#modal-adicionar"><i class="bi-plus-lg"></i> Adicionar Contato</button>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col table-responsive px-3">
                    <form>
                        <table class="table table-striped text-nowrap fs-5">
                            <thead>
                                <tr class="table-danger">
                                    {% for texto in ('nome', 'email', 'telefone', 'tipo')%}
                                    <th>
                                        <a href="{{url_for('mostrar_contatos')}}" class="text-decoration-none text-black">{{texto.capitalize()}}</a> 
                                        <a href="{{url_for('mostrar_contatos', ordem=texto, desc='false')}}"><i class="bi bi-caret-up-square text-black"></i></a>
                                        <a href="{{url_for('mostrar_contatos', ordem=texto, desc='true')}}"><i class="bi bi-caret-down-square text-black"></i></a>
                                    </th>
                                    {% endfor %}
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for contato in contatos %}

                                    {% if email_editado == contato.email %} 

                                    <tr>
                                        <td><input type="text" class="form-control" id="nome-contato" placeholder="Nome" name="nome" value="{{contato.nome}}" required></td>
                                        <td><input type="email" class="form-control" id="email-contato" placeholder="E-mail" value="{{contato.email}}" name="email" required></td>
                                        <td><input type="tel" class="form-control" id="tel-contato" placeholder="Telefone" value="{{contato.telefone}}" name="telefone" required></td>
                                        <td>
                                            <select class="form-select" id="tipo-contato" name="tipo" required>
                                                <option value="">Selecionar</option>
                                                {% for tipo in ("Trabalho", "Família", "Amigo", "Sem Tipo")%}
                                                    <option value="{{tipo}}" {{"selected" if tipo == contato.tipo else ""}}>{{tipo}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <button type="submit" formmethod="post" formaction="{{url_for('salvar_edicao')}}" class="btn btn-success btn-sm fs-6 fw-bold"><i class="bi-check-square"></i> Salvar</button>
                                            <button type="submit" formmethod="post" formaction="{{url_for('remover_contato', email=contato.email)}}" class="btn btn-danger btn-sm fs-6 fw-bold"><i class="bi-x-lg"></i> Remover</button>
                                        </td>
                                    </tr>

                                    {% else %}

                                    <tr>
                                        <td>{{contato.nome}}</td>
                                        <td>{{contato.email}}</td>
                                        <td>{{contato.telefone}}</td>
                                        <td>
                                            <a href="{{url_for('mostrar_contatos', tipo=contato.tipo)}}">
                                                <span class="badge rounded-pill bg-secondary p-2"> 
                                                    {% if contato.tipo == "Sem Tipo" %}
                                                    <i class="bi-record-circle-fill"></i> Sem Tipo
                                                    {% elif contato.tipo == "Trabalho" %}
                                                    <i class="bi-briefcase-fill"></i> Trabalho
                                                    {% elif contato.tipo == "Família" %}
                                                    <i class="bi-house-fill"></i> Família
                                                    {% elif contato.tipo == "Amigo" %}
                                                    <i class="bi-person-raised-hand"></i> Amigo
                                                    {% else %}
                                                    <i class="bi-question-circle-fill"></i> {{contato.tipo}}
                                                    {% endif %}
                                                </span>
                                            </a>
                                        </td>
                                        <td>
                                            <button type="submit" formmethod="post" formaction="{{url_for('editar_contato', email=contato.email)}}" class="btn btn-secondary btn-sm fs-6 fw-bold"><i class="bi-pencil-square"></i> Editar</button>
                                            <button type="submit" formmethod="post" formaction="{{url_for('remover_contato', email=contato.email)}}" class="btn btn-danger btn-sm fs-6 fw-bold"><i class="bi-x-lg"></i> Remover</button>
                                        </td>
                                    </tr>
                                    {% endif %}

                                {% else %}
                                <tr>
                                    <td colspan="5">
                                        <div class="d-flex justify-content-center">
                                            <p class="m-0 p-2">Nenhum contato encontrado</p>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>

        
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>